body {
  margin: 0;
  font-family: roboto;
  font-weight: 700;
}

h4, p {
  margin: 0;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 5fr;
}

.side-bar {
  background-color: #0ea5e9;
  grid-row: 1 / 3;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: repeat(10, 0fr);
  row-gap: 16px;
}

.side-bar-brands {
  justify-self: center;
}

.side-bar * {
  color: white;
  fill: white;
  font-size: 18px;
}

.dash-svg {
  width: 36px;
  place-self: center;
}

.side-bar-header {
  font-size: 24px;
  margin: 18px 0px;
  align-self: center;
}

.nav-svg {
  width: 18px;
  justify-self: center;
}

.communities {
  margin-bottom: 44px;
}
/* /////////////////////// */
.header {
  background-color: white;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  margin: 0 36px;
  margin-bottom: 10px;
}

.search-bar-container,
.header-buttons {
  display: flex;
}

.search-bar-icon {
  width: 20px;
  margin-right: 12px;
}

.search-bar {
  background-color: #e0f2fe;
  flex: 1;
  height: 24px;
  border-radius: 12px;
}

.user-alert-buttons {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-right: 48px;
  gap: 24px;
}

.alert-icon {
  height: 20px;
}

.user-alert-buttons .user-icon {
  height: 44px;
}

.user-info .user-icon {
  height: 64px;
}

.header-buttons {
  justify-content: center;
  gap: 24px;
}

.header-buttons div {
  display: grid;
  place-items: center;
  background-color: #0ea5e9;
  color: white;
  font-size: 12px;
  border-radius: 24px;
  width: 78px;
  height: 36px;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 12px;
}

.user-greeting div:first-child {
  font-size: 12px;
}
.user-greeting div:last-child {
  font-size: 20px;
}
/* //////////////////// */
.main-content {
  display: grid;
  padding: 30px 16px;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 16px;
  background-color: #e0f2fe;
}

.projects-header {
  font-size: 17px;
  margin-bottom: 10px;
}

.projects {
  grid-row: 1 / 3;
}

.project-item {
  display: flex;
  border-radius: 8px;
  background-color: white;
  overflow: hidden;
}

.project-item > div {
  flex: 1;
}

.left-border {
  max-width: 8px;
  background-color: orange;
  margin-right: 20px;
}

.project-item-container {
  display: grid;
  grid-template-rows: 0fr 1fr 0fr;
  margin-top: 28px;
  margin-bottom: 18px;
  margin-right: 10px;
}

.project-item p {
  font-size: 13px;
  font-weight: 500;
  color: rgb(116, 116, 116);
}

.announcements {
  /* background-color: brown; */
}

.trending {
  /* background-color: blueviolet; */
}

.projects-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
}

.projects-content-buttons {
  display: flex;
  justify-content: right;
  margin-right: 24px;
  gap: 24px;
}

.projects-content-buttons div svg {
  height: 20px;
}


